<h1>Welcome</h1>
<h2> <%= @user.username %>
<p>We are currently working on your account.</p>
<p> Your balance is $<%= @user.balance %> </p>

<p><a href="/logout">Log Out</a></p>

<form method="post" method
